/* 

Defaults

*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Saira:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
}

html, body {
    background: linear-gradient(#131313, #242424);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    color: white;
}

h1, h2{
    color: #00ff0d;
}

a{
    text-decoration: none;
    color: #00b7ff;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Saira', sans-serif;
}

/* 

The left side

*/

.container {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#left{
    height: 95%;
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.note-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* justify-content: space-evenly; */
}

.note-container .edit-delete {
    margin: 16px;
}

.note-container p{
    padding: 0 25px;
    font-size: 1.26rem;
}

.note-footer{
/* margin-top auto sets the footer to bottom */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:auto;
    height: 10%;
}

.item {
    color: rgb(169,169,169);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: dashed 1px rgba(126, 126, 126, 0.25);
    overflow: hidden;
    z-index: 5;
}
.item * {
    margin: 2px 10px;
}

.item:hover{
    background: rgba(69, 69, 69, 0.25);
}

.expand-height {
    animation: height-grow 0.75s ease-in forwards;
    
}

#item-box {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#item-box::-webkit-scrollbar { 
    width: 0;
    height: 0;
  }

  .item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
}

footer {
    padding-left: 5px;
    width: 100%; 
}

.todo-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
#control-input {
    width: 96%;
    background: none;
    color: #f5f5f5;
    font-size: 1rem;
    border: none;
    
}
#control-input:focus {
   outline: none;
   caret-color: whitesmoke;
}

/* 

The Right side

*/

#right{
    height: 95%;
    width: 20%;
    border-left: dotted 3px #00ff0d;
    padding: 0px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-container{
    overflow: auto;    
}

#right-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

#trash{
    color: rgba(0,255,13, .25) ;
}

button{
    background: none;
    border: none;
    height: 45px;
    width: 120px;
    font-size: 1.75rem;
    color: yellowgreen;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

button:hover {
    filter: brightness(1.5);
}

button:active{
    scale: 0.95;

}

#delete-btn {
    color: #ee0000;
    font-size: 1.25rem;
    cursor: pointer;
}

#delete-btn:hover{
    filter: brightness(.85);
}
#edit-btn {
    color: #eeb600;
    font-size: 1.25rem;
    cursor: pointer;
}

#edit-btn:hover{
    filter: brightness(.85);
}


/* 

growing box  

*/

.grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    width: 100%;
    display: grid;
  }
  .grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
  
    /* This is how textarea text behaves */
    white-space: pre-wrap;
  
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }
  .grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
    /* max-height: 10px; */
  
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
  }
  .grow-wrap > textarea,
  .grow-wrap::after {
    /* Identical styling required!! */
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
  
    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
  }