/* 

Defaults

*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Saira:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
}

html, body {
    background: linear-gradient(#131313, #242424);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    color: white;
}

h1, h2{
    color: #00ff0d;
}

h5{
    margin:5px
}
a{
    text-decoration: none;
    color: #eeb600;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Saira', sans-serif;
}

/* 

The left side

*/

.container {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.title{
    display: flex;
    align-items: center;
    padding-left: 3px;
}
#left{
    height: 95%;
    width: 85%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.note-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10px;
}

.note-container .edit-delete {
    margin: 10px;
}

.note-container .note-text{
    padding: 0 10px;
    font-size: 1.26rem;
    white-space: pre-wrap;
}

.note-text{
    overflow: auto;
}

.note-text::-webkit-scrollbar { 
    width: 0;
    height: 0;
  }

.note-important {
    color: red;
}

.note-footer{
/* margin-top auto sets the footer to bottom */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:auto;
    height: 10%;
}

.item {
    color: rgb(169,169,169);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: dashed 1px rgba(126, 126, 126, 0.25);
    
}


#item-scroll {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse
}

#item-scroll::-webkit-scrollbar { 
    width: 0;
    height: 0;
  }

.item:hover{
    background: rgba(69, 69, 69, 0.25);
}

.expand-height {
    animation: height-grow 0.75s ease-in forwards;
    
}

#item-box {
    display: flex;
    /* max-height: 100%; */
    flex-direction: column;
    justify-content: flex-end;
}

.trashed-title{
    color:rgba(0,255,13, .5) ;
}

#trash{
    width: 100%;
    height: 100%;
}

.trashed-div {
    width: 100%;
    /* height: 200px; */
    border-bottom: dashed 1px rgba(126, 126, 126, 0.25);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

  .item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
}

footer {
    padding-left: 5px;
    width: 100%; 
}

.todo-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
#control-input {
    width: 96%;
    background: none;
    color: #f5f5f5;
    font-size: 1rem;
    border: none;
    overflow: auto;
    
}

#control-input::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#control-input:focus {
   outline: none;
   caret-color: whitesmoke;
}

/* 

The Right side

*/

#right{
    height: 95%;
    width: 15%;
    border-left: dotted 3px #00ff0d;
    padding: 0px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#right h3 {
    color:#00ff0d;
    border-bottom: solid 1px #00ff0d;
    width: 98%;
    margin-bottom: 10px;
    padding-bottom: 2px;
    
}
#right-container{
    overflow: auto;  
    width: 100%;
    height: 100%;  
}

#right-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}



.trash-links {
    color: rgba(0,255,13, .5) ;
}
.trash-links:hover {
    color: rgba(0,255,13, .95) ;
}

button{
    background: none;
    border: none;
    height: 45px;
    width: 120px;
    font-size: 1.75rem;
    color: rgb(0,255,13);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

button:hover {
    filter: brightness(1.5);
}

button:active{
    scale: 0.95;

}

#delete-btn {
    color: #ee0000;
    font-size: 1.25rem;
    cursor: pointer;
}

#delete-btn:hover{
    filter: brightness(.85);
}
#edit-btn {
    color: #eeb600;
    font-size: 1.25rem;
    cursor: pointer;
}

#edit-btn:hover{
    filter: brightness(.85);
}


/* 

growing box  

*/

.grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    width: 100%;
    display: grid;
  }
  .grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
  
    /* This is how textarea text behaves */
    white-space: pre-wrap;
  
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }
  .grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
    /* max-height: 10px; */
  
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
  }
  .grow-wrap > textarea,
  .grow-wrap::after {
    /* Identical styling required!! */
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
  
    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
  }



/* this is for hamburger */

.hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }




.open-menu{
    animation: open-up 0.5s forwards;
}
.close-menu {
    animation: close-up 0.5s forwards;
}
@keyframes open-up{
    100%{width: 25%;}
}
@keyframes close-up{
    0%{width: 25%;}
    100%{width: 12%;}
}





/* 

media queries 

need to do a max-height

*/

  @media (max-width: 1000px) { 
      .trash-links{
          font-size: .75rem;
      }
   }
  @media (max-width: 760px) { 
    .hamburger {
        display: inline-block;
      }
      #left{
          width: 83%;
      }
      #right{
          width: 17%;
      }
      #right-container{
          display: none;
      }

      #home-btn{
          display: none;
      }

      #enter{
          font-size: 1.5rem;
      }

      h5{
          font-size: 0.75rem;
      }
      .edit-delete, #edit-btn, #delete-btn{
          font-size: 0.85rem;
      }
   }

   @media(max-width: 500px){
       #enter{
           font-size: 1.2rem;
       }
       h2{
           font-size: 1rem;
       }
       .item{
           flex-direction: column;
           height: 75px;
       }
   }